header {
	width: 100%;
	height: 260px;
	background-color: black;
}

#gore {
	width: 100%;
	height: 30px;
	background-color: black;
	text-align: right;
	float: left;
	border-bottom: solid grey;
}

.fa-facebook-square {
	color: blue;
	background-color: black;
	list-style-type: none;
	font-size: 30px;
}

.fa-instagram {
	color: purple;
	background-color: black;
	list-style-type: none;
	font-size: 30px;
}

.cover {
	width: 100%;
	height: 200px;
	background-color: white;
	float: left;
}

.cover img {
	width: 25%;
	height: 100%;
	float: left;
	margin-left: 37%;
}

#navigacija {
	width: 100%;
	height: 30px;
	float: left;
	text-align: center;
	list-style-type: none;
	background-color: pink;
}

#navigacija li {
	display: inline-block;
	height: 100%;
	width: 25%;
	text-align: center;
	line-height: 25px;
}
#navigacija li a {
	color: black;
	text-decoration: none;
}
#navigacija li:hover {
	background-color: rgba(199,0,186,0.5);
}