@import url(podela/header.css);
@import url(podela/footer.css);

* {
	margin: 0;
	padding: 0;
	font-family: 'Gloria Hallelujah', cursive;
}

#cenovnik_body {
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
}

h3 {
	text-align: center;
	line-height: 50px;
}

#lista {
	text-align: center;
	height: auto;
	width: 100%;
	list-style-type: none;
}

#lista li {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	text-align: center;
}