@import url(podela/header.css);
@import url(podela/footer.css);

* {
	margin: 0;
	padding: 0;
	font-family: 'Gloria Hallelujah', cursive;
}

#galerija_body {
	width: 100%;
	height: auto;
}

.prvi {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.prvi img {
	width: 100%;
	height: 250px;
}

.drugi {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.drugi img {
	width: 100%;
	height: 250px;
}

.treci {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.treci img {
	width: 100%;
	height: 250px;
}

.cetvrti {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.cetvrti img {
	width: 100%;
	height: 250px;
}

.peti {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.peti img {
	width: 100%;
	height: 250px;
}

.sesti {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.sesti img {
	width: 100%;
	height: 250px;
}