@import url(podela/header.css);
@import url(podela/footer.css);

* {
	margin: 0;
	padding: 0;
	font-family: 'Gloria Hallelujah', cursive;
}

#kontakt_body {
	width: 100%;
	height: auto;

}

#prvi {
	width: 50%;
	height: 500px;
	background-color: rgba(179, 84, 107, 0.7);
	float: left;
 
}

.podela {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}

.podeladva {
	width: 50%;
	height: 100%;
	float: left;
	text-align: left;
}

.podela img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 50px;
}

#drugi {
	width: 50%;
	height: 500px;
	background-color: rgba(179, 84, 107, 0.7);;
	float: left;
}

form {
	width: 100%;
	height: auto;
}

form input {
	text-align: left;
	width: 200px;
	height: 30px;
	margin-top: 10px;
	margin-left: 100px;
	padding-left: 5px;
}

form textarea {
	display: block;
	text-align: left;
	padding-left: 100px;
	margin-left: 100px;
	margin-top: 5px;
}

