@import url(podela/header.css);
@import url(podela/footer.css);

* {
	margin: 0;
	padding: 0;
	font-family: 'Gloria Hallelujah', cursive;
}

section {
	width: 100%;
	height: 900px;
	float: left;
}

#clanakdrugi {
	width: 100%;
	height: 300px;
}
 #naslov {
 	text-align: center;
 	padding-top: 20px;
 	color: rgba(0,110,102,1);
 }

#pasus {
	text-align: justify;
	padding-right: 15%;
	padding-left: 15%;
}

#clanakprvi {
	width: 100%;
	height: 600px;
	background: url(nesto.jpg);
	background-repeat: no-repeat;
	background-size: 80% 90%;
	background-position: center;

}
